<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Demo app</title>
    <link rel="Stylesheet" href="/Cool.css"/>
</head>
<body background="Investering.jpg">
<div id="centrera"><h1><big>Välkommen till FundedByMe</big></h1></div>
<p></p>
<p></p>
<div id="centkurs">Här finnner du möjligheten att investera dina pengar eller att hitta investerare till ditt projekt.</div>
<p></p>
<p></p>
<p></p>
<p></p>
<div id="centkurs">För att lägga ut ett projekt och hitta investerare måste du logga in.</div>
<p></p>
<p></p>
<p></p>
<form action="/posts" method="post">
    <div><input type="text"
                cols="40"
                rows="5"
                style="width:200px; height:15px;"
                name="Text1"
                id="Text1"
                value="" /> Användarnamn</div>
    <p></p>
    <div><input type="text"
                cols="40"
                rows="5"
                style="width:200px; height:15px;"
                name="Text2"
                id="Text2"
                value="" /> Lösenord</div>
    <p></p>
    <input type="submit"/>
</form>


</body>
</html>